.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
}

.count {
  font-family: 'Montserrat';
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-shadow: 0rem 0rem 3.75rem #fff;
}

button {
  font-family: 'Montserrat';
  width: 15%;
  padding: .5rem 0;
  border: 1px solid #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  transition: 300ms;
}

button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, .175) !important;

}